{% for row in records %}
    {% if row['status'] == 'running' %}
    <tr class='table-primary'>
    {% endif %}

    <td>{{ loop.index }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.pid }}</td>
    <td>{{ row.cmd }}</td>
    <td>{{ row.start_time }}</td>
    <td>{{ row.timeout }}</td>
    
    {% if row.status == 'done'%}
    <td><span class="badge badge-success">{{ row.status }}</span></td>
    {% elif row.status == 'ready'%}
    <td><span class="badge badge-primary">{{ row.status }}<small></td>
    {% elif row.status == 'running'%}
    <td><span class="badge badge-danger">{{ row.status }}</span></td>
    {% endif %}
    <td>
    <!-- controls based on crontab state -->
    <a onclick="show_log('{{ loop.index0 }}');"><button class="btn btn-outline-primary btn-sm"><span class="fa fa-list-alt" aria-hidden="true"></span> Logs</button></a>
    {% if row['status'] != 'running'%}
        <a onclick="edit_task('{{ loop.index0 }}');"><button class="btn btn-outline-primary btn-sm"><span class="fa fa-edit" aria-hidden="true"></span> Edit</button></a>
    {% endif %}
    <a onclick="delete_task('{{ loop.index0 }}');"><button class="btn btn-outline-danger btn-sm"><span class="fa fa-trash" aria-hidden="true"></span></button></a>
    </td>
    </tr>
{% endfor %}