<!doctype html>
<html lang="en">
	<head>
		<title>Task Manager</title>
		<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
		<script src="{{ url_for('static',filename='js/script.js') }}"></script>
		<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<script type="text/javascript">
		var global_start_url = "{{ url_for('global_start') }}";
		var global_stop_url = "{{ url_for('global_stop') }}";
		var get_lists_url = "{{ url_for('get_lists') }}";
		var delete_task_url = "{{ url_for('delete_task') }}";
		var order_up_url = "{{ url_for('order_up') }}";
		var order_down_url = "{{ url_for('order_down') }}";
		var get_task_url = "{{ url_for('get_task') }}";
		var get_log_url = "{{ url_for('get_log') }}";
		var get_tasks_url = "{{ url_for('get_tasks') }}";
	</script>

	<style>
		table {
			table-layout:automatic;
		}
		table td{
			max-width: 300px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
	</style>

	<body>
		<div class="container">
			<br/>
			<h2>Dashboard</h2>
			<br/>
			<a onclick="global_start();" id="start_a"><button class="btn btn-success" id="start"><span class="fa fa-play" aria-hidden="true" id="start_span"></span> Start</button></a>
			<a onclick="new_task();"><button class="btn btn-primary"><span class="fa fa-plus-square" aria-hidden="true"></span> New</button></a>
			<a onclick="tasklists();"><button class="btn btn-info"><span class="fa fa-tasks" aria-hidden="true"></span> Lists</button></a>
			<a onclick="save_list();"><button class="btn btn-info"><span class="fa fa-save" aria-hidden="true"></span> Save</button></a>
			<a href="{{ url_for('download', filename='main.txt') }}" target="_black"><button class="btn btn-secondary"><span class="fa fa-cloud-download" aria-hidden="true"></span> Export</button></a>
			<br/>
			<br/>

			<table class="table table-hover " id="main_table">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>name</th>
						<th>PID</th>
						<th>Command</th>
						<th>Start time</th>
						<th>Timeout</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody id='dashboard'>
				</tbody>
			</table>
		</div>
		{% include 'task_detail.html' %}
		{% include 'log_detail.html' %}
		{% include 'save_list.html' %}
		{% include 'load_list.html' %}
	</body>
	<script>
		jQuery(function($) {
			$('#main_table').DataTable();
		});
	</script>
</html>